<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/rouge.css' | relative_url }}">
  </head>
  <body>
    <header class="container">
      <h1>{{ site.title }}</h1>
      {% if page.title %}
        <h2>{{ page.title }}</h2>
      {% endif %}
      {% if page.created %}
        <p>Created: {{ page.created | date: "%B %-d, %Y" }}</p>
      {% endif %}
      {% if page.updated %}
        <p>Last updated: {{ page.updated | date: "%B %-d, %Y" }}</p>
      {% endif %}
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="container">
      <a href="{{ '/' | relative_url }}">Back to home</a>
      | <a href="https://github.com/trite/trite.io-content">View on Github</a>
    </footer>
  </body>
</html>